
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'M PLUS 1p';
    font-size: 14px;
    font-weight: 400;
}

title {
  font-size: 50px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  color: #5984b7;
  font-style: italic;
}

h4 {
  font-size: 12px;
  color: #767676;
  font-style: italic;
  line-height:0;
}

/* links */
a { 
  color: #6fadf7;
}

a:hover {
 color: #5984b7; /* darker color when hovering */
}

  #header::before {
   content: "";
   height: 175px;
   width: 175px;
   float: right;
   background-image: url("brain_cropped.png");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }
