
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


 /*------------- Whole Document---------------- */

body {
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 400;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  color: black;
  font-style: italic;
}

/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}

  #header::before {
   content: "";
   height: 175px;
   width: 175px;
   float: right;
   background-image: url("brain_cropped.png");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }
